@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #000;
}

.main {
    background-image: url("images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    width: 100%;
    opacity: 0.6;
    height: 70vh;
    background-color: black;
    position: absolute;
    top: 0px;
}

nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    width: 135px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    height: calc(100% - 62px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background: rgb(37, 36, 36);


}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: 1px solid rgba(23, 23, 23, 0.5);
    background-color: rgba(83, 74, 74, 0.459);
    border-radius: 5px;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 12px 26px;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 5px;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    border-radius: 5px;
    padding: 18px 101px 18px 14px;
    font-weight: 900;
    font-size: 13px;
    border: 2px solid rgba(23, 23, 23, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
    color: white;

}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    padding: 40px;
    /* position: relative;
    top: 10px; */
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 52px;
    right: 0px;
    width: 555px;

}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    font-style: normal;
}

.first>div :nth-child(2) {
    padding: 16px 0px;
    font-size: 24px;

}

.third {
    justify-content: flex-start;
    line-height: 35px;

}

.faq {
    background-color: #000;
    color: white;
    padding: 30px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    transition: all 0.3s ease-out;
    font-size: 24px;
    display: flex;
    background-color: grey;
    padding: 30px;
    width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
}

.faqbox:hover {
    background-color: #414141;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

}

@media screen and (max-width:1300px) {

    .hero-btn {
        display: flex;
       flex-direction: column;
    }
    nav{
        max-width: 90vw;
    }
    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 350px;
        height: 350px;
    }

    .secimg video {
        width: 350px;

    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 38px;

}

footer .quo {
    padding: 34px 0px;
}

footer {
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 14px;
}

.footer a {
    font-size: 14px;
    color: white;
}